<div class="px-6 py-8" *ngIf="$any(article$ | async) as article">
  <div class="flex justify-between container mx-auto">
    <div class="w-full">
      <div class="mt-6">
        <div class="max-w-6xl px-10 py-6 bg-white rounded-lg shadow-md">
          <div class="mt-2">
            <h1 class="text-2xl text-gray-700 font-bold">
              {{ article.name }}
            </h1>
            <p class="mt-2 text-gray-600">
              {{ article.content.body }}
            </p>
          </div>
          <div class="flex justify-between items-center mt-4">
            <div>
              <a href="#" class="flex items-center"
                ><img
                  [src]="loadImage(article)"
                  alt="Author Avatar"
                  class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block"
                />
                <h1 class="text-gray-700 font-bold hover:underline">
                  {{ article.content.author }}
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="px-6 py-8" *ngIf="article$ | async as article">
  <div class="flex justify-between container mx-auto">
    <div class="w-full">
      <div class="mt-6">
        <div class="max-w-6xl px-10 py-6 bg-white rounded-lg shadow-md">
          <div class="mt-2">
            <h1 class="text-2xl text-gray-700 font-bold">
              {{ article.story.name }}
            </h1>
            <p class="mt-2 text-gray-600">{{ article.story.content?.body }}</p>
          </div>
          <div class="flex justify-between items-center mt-4">
            <div>
              <a href="#" class="flex items-center"
                ><img
                  [src]="loadImage(article.story)"
                  alt="Author Avatar"
                  class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block"
                />
                <h1 class="text-gray-700 font-bold hover:underline">
                  {{ article.story.content?.author }}
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
