<div class="px-6 py-8">
  <div class="flex justify-between container mx-auto">
    <div class="w-full">
      <h1 class="text-6xl font-bold mt-16">
        <span class="text-yellow-500">Med</span
        ><span class="text-blue-600">el</span
        ><span class="text-red-600">lín</span>
      </h1>

      <div class="flex mt-16 font-light text-gray-500">
        <div class="pr-4">
          <span class="uppercase" i18n="@@heroCountry">Country</span>
          <p class="text-2xl text-gray-900 font-semibold pt-2">Colombia</p>
        </div>
        <div class="pr-4">
          <span class="uppercase" i18n="@@heroRegion">Region</span>
          <p class="text-2xl text-gray-900 font-semibold pt-2">Antioquia</p>
        </div>
      </div>

      <div
        i18n="@@heroDescription"
        class="description w-full sm: md:w-2/3 mt-16 text-gray-500 text-sm"
      >
        Medellín is the second largest city in Colombia. It has over 3 million
        people and is the capital of the department of Antioquia. It's set in a
        valley running south to north just under one hour by plane from Bogotá.
        In 2013 Medellin was awarded the Innovative City of the Year by The Wall
        Street Journal, outranking rivals New York and Tel Aviv.
      </div>

      <button
        i18n="@@readMoreHero"
        class="uppercase mt-5 text-sm font-semibold hover:underline"
      >
        read more
      </button>
    </div>
    <div class="w-full">
      <img
        src="https://res.cloudinary.com/tamas-demo/image/upload/f_auto,q_auto,w_400,dpr_2.0/medellin.jpg"
        class="w-full"
        alt=""
      />
    </div>
  </div>
</div>
