<nav class="flex bg-gray-800 p-3 flex-wrap">
  <a href="#" class="p-2 mr-4 inline-flex">
    <span class="text-xl text-white font-bold uppercase tracking-wide"
      >Star Wars</span
    >
  </a>
  <div
    class="top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
    id="navigation"
  >
    <div
      class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
    >
      <a
        routerLink="/"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Home</span>
      </a>
      <a
        routerLink="/characters"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Characters</span>
      </a>
      <a
        routerLink="/about"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>About</span>
      </a>
    </div>
  </div>
</nav>

<div class="w-full mx-auto p-6">
  <router-outlet></router-outlet>
</div>
